.player {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.player-viewport {
  flex-grow: 1;
  width: 100%;
  height: 100%
}

.player-control-panel {
  background-color: black;
}

.player-button {
  border: 0;
  cursor: pointer;
  color: white;
  background-color: transparent;
}
