:root {
  font-family: "Roboto", sans-serif;
  color: white;
}

.player {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.player-viewport {
  flex-grow: 1;
}

.player-control-panel {
  display: flex;
  background-color: black;
  align-items: center;
  height: 48px;
  font-size: 1rem;
}

.player-button {
  box-sizing: border-box;
  font-size: 1.25rem;
  width: 36px;
  height: 100%;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: white;
  background-color: transparent;
}

.toggle-play {}

.toggle-mute {}

.toggle-fullscreen {}

.progress-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 6px;
}

.progress-indicator {
  background-color: #f8104d;
  height: 6px;
  border-radius: 3px;
}

.progress-handle {
  background-color: #f8104d;
  width: 8px;
  height: 8px;
  margin-left: -6px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.progress-bar:hover .progress-handle {
  opacity: 100%;
}
